<Alloy>
	<View id="Wrapper" name="Settings">
		<Require type="widget" src="com.mcongrove.navigationBar" id="NavigationBar" image="data/logo.png" />
		
		<ScrollView id="container">			
			<TableView id="logs_table" height="90dp">
				<TableViewRow id="logs" title="Send Application Logs" hasChild="true" />
				<TableViewRow id="acknowledgements" title="Acknowledgements" hasChild="true" />
			</TableView>
			
			<Label id="copyright" />
			<Label id="version" />
		</ScrollView>
	</View>
</Alloy>