<Alloy>
	<View id="Wrapper" name="Settings">
		<Require type="widget" src="com.mcongrove.navigationBar" id="NavigationBar" text="Archivio Teatro Regio" />
		
		<ScrollView id="container">			
			<TableView id="logs_table" height="280dp">
				<TableViewRow id="logs" title="Send Application Logs" hasChild="true" />
				<TableViewRow id="flushlogs" title="Flush application logs" hasChild="true" />
				<TableViewRow id="acknowledgements" title="Acknowledgements" hasChild="true" />
				<TableViewRow id="devsummary" title="Development : fast info control" hasChild="true" />
				<TableViewRow id="emptycache" title="Development : clear the local cache" hasChild="true" />
				<TableViewRow id="send" title="Development : send modified data to the server" hasChild="true" />
			</TableView>
			
			<Label id="copyright" />
			<Label id="version" />
		</ScrollView>
	</View>
</Alloy>